main {
   display: grid;
   grid-template-columns: 1fr;
   width: 100%;
   gap: 50px;
   overflow: hidden;
}

.container{
   display: grid;
   place-items: center;
   place-self: center;
   background-color: var(--dark);
   width: 100%;
   height: 98vh;
   border-radius: 0% 0% 30px 30px;
   overflow: hidden;
}

.content {
   display: grid;
   width: 90%;
   height: 70%;
}
.content ul{
   display: grid;
   grid-auto-flow: rows;
   grid-template-columns: repeat(4, 1fr);
   padding: 0 20px;
}
.content li{
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1.3fr 0.7fr;
   place-items: center;
}
.content img{
   width:350px;
   height: 350px;
   object-fit: cover;
   transition: all 0.3s ease-in-out;
   border-radius: 15px;
}
.presentation{
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   place-items: center;
   place-self: center;
   padding: 20px;
   width: 80%;
   height: 200px;
   background-color: var(--light);
   border-radius: 15px;
}
.presentation p{
   padding: 0 10px;
   text-align: center;
   color: var(--white);
}